img {
    width: 200px;
    height: 200px;
}

h1{
    color: red
}

p{
    font-style: italic;

}
body{
    background-color: cadetblue;
    border: 1ch;
    width: 500px;
    height: 500px;


}

.container{
    border: 1px solid black;
    margin: 0cap;
    padding: 0cap;
}